<ion-view>
  <ion-nav-title>
    <strong>Bullet Journal</strong>
  </ion-nav-title>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="primary">
    <button class="button button-icon icon" ng-click="doSomething()">
      <i class="icon ion-ios-plus-empty"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">

  </ion-content>
</ion-view>


