<ion-view title="Login">
  <ion-content padding="true" class="has-header padding">
    <h3 class="text-center">Bullet Journal</h3>
    <p class="text-center">Do more with less</p>

    <form class="list">
      <label class="item item-input">
        <input type="email" placeholder="Email">
      </label>
      <label class="item item-input">
        <input type="password" placeholder="Password">
      </label>
    </form>

    <a href="#/" class="button button-positive  button-block">Login</a>
    <div class="text-center">
      <p>Don't have an account?</p>
    </div>
    <div>
      <p class="text-center">
        <a href="#/signup">Sign Up</a>
      </p>
    </div>
  </ion-content>
</ion-view>
