<ion-view title="Profile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="primary">
    <button class="button button-icon icon" ng-click="doSomething()">
      <i class="icon ion-ios-plus-empty"></i>
    </button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="list card">
      <div class="item">
        <h2>Roselle Ebarle</h2>
        <p>Iligan City</p>
      </div>
      <div class="item item-body">
        <img src="http://graph.facebook.com/{{user.id}}/picture?width=270&height=270" ng-if="user.id"/>
      </div>
    </div>
  </ion-content>
</ion-view>
