<ion-view>
  <ion-nav-title>{{ topic.topic }}</ion-nav-title>
  <ion-content class="has-header padding">
    <ul class="list">
      <li ng-repeat="bullet in bullets">
        {{ bullet.content }}
      </li>
    </ul>
  </ion-content>
</ion-view>

