<ion-view>
  <ion-content>
    <ion-slide-box on-slide-changed="change(index)">
      <ion-slide>
        Slide 1
      </ion-slide>
      <ion-slide>
        Slide 2
      </ion-slide>
      <ion-slide>
        Slide 3
      </ion-slide>
    </ion-slide-box>

  </ion-content>
</ion-view>
