body {
  color: #000;
  font-family: 'Noto Serif', serif;
}

/////////////////
// Ionic Components
/////////////////

ion-nav-view, ion-view, ion-content {
  background: transparent !important;
}

.nav-bar-title {
  font-weight: bold;
  text-transform: uppercase;
  font-family: 'Dosis', sans-serif;
}

.page-no {
  float: right;
}

.list.side-list {
  .item {
    border: 0;
  }
}

/////////////////
// Custom Components
/////////////////

.profile-box-link {
  color: black;
  text-decoration: none;

  .profile-box {
    text-align: center;
    padding-bottom: 10px;

    img {
      border-radius: 50%;
      padding: 20px 0 10px;
    }
    .profile-name {
      color: white;
      text-decoration: none;
      font-family: 'Dosis', sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 17px;
    }
  }
}

.module-title {
  text-align: center;
}

.bullet-index a {
  color: black;
  text-decoration: none;
  span {
    float: right;
    font-weight: bold;
  }
}

.cover {
  background: url(../img/g2.png) repeat;

  .cover-text h3 {
    font-family: 'Dosis', sans-serif;
    text-align: center;
    padding: 20px 0 50px 0;
  }
}
